header{
    background: #152166;
    align-items: center;
    display: flex;
    height: 50px;
    padding: 10px 10px;
    font-size: 0.7em;
}

header button {
    margin-left: auto;
    background-color: #e6e039;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
}

header button:hover {
    background-color: #d4d034;
}

h1 {
    padding: 10px;
    color: rgb(218, 212, 43);
    text-align: center;
}

h2, h3{
    color:#152166;
    padding:0% 10px;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 200vh;
}

.main-layout {
    display: flex;
    flex: 1;
    min-height: 80vh;
}

.sidebar {
    width: 20%;
    min-width: 260px;
    padding-left: 30px;
    background: #f8f9fa;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.04);
}

.container {
    background-color: white;
    box-shadow: 2px 0 8px rgba(23, 27, 94, 0.573);
    width: 80%;
    min-height: 400px;
    margin: 0;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px 24px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
}

#trip-date {
    margin: 8px;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.traveller-controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.traveller-controls .btn {
    margin: 8px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: #e6e039;
    cursor: pointer;
    font-size: 1em;
}

#booking-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 90%;
}

#travellers-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
}

.traveller-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:50%;
    min-width: 300px;
    gap: 10px;
    margin-left: 50px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    padding: 30px;
}

.traveller-form label {
    color: #152166;
}

.traveller-form input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.traveller-form select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.confirmBtn {
    background-color: #152166;
    color: white;
    border: none;
    width: 60%;
    min-width: 300px;
    padding: 10px 20px;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.confirmBtn:hover {
    background-color: #0e194b;
    color:rgb(218, 212, 43);
}