header{
    background: #152166;
    align-items: center;
    display: flex;
    height: 50px;
    padding: 10px 10px;
    font-size: 0.7em;
}

h1 {
    padding: 10px;
    color: rgb(218, 212, 43);
    text-align: center;
}

h2, h3{
    color:#152166;
    padding:0% 10px;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 200vh;
}

.main-layout {
    display: flex;
    flex: 1;
    min-height: 80vh;
}

.container {
    background-color: white;
    width: 100%;
    min-height: 400px;
    margin: 0;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px 24px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
}