header{
    background: #152166;
    align-items: center;
    display: flex;
    height: 50px;
    padding: 10px 10px;
    font-size: 0.7em;
}

h1 {
    padding: 10px;
    color: rgb(218, 212, 43);
    text-align: center;
}

h2, h3{
    color:#152166;
    padding:0% 10px;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 200vh;
}

.main-layout {
    display: flex;
    flex: 1;
    min-height: 80vh;
}

.container {
    background-color: white;
    width: 100%;
    min-height: 400px;
    margin: 20px;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px 24px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
}

.container h2 {
    margin-left: 20px;
}

.search-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

#client-search-form {
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 12px;
    width: 70%;
}

#client-search-form label {
    font-weight: bold;
    color:#152166;
}

#client-search-form input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-box button {
    background-color: #152166;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.search-box button:hover {
    background-color: #0e194b;
    color: rgb(218, 212, 43);
}

#results {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 4px;
    width: 100%;
}

#results h3 {
    color: #152166;
    text-decoration: underline;
}

.trip-card {
    border: 1px solid #e9ecef;
    border-radius: 8px;
    padding-left: 30px;
    gap: 2px;
    width: 30%;
    min-width: 300px;
}

.trip-card p {
    margin: -8px 0;
}